{% extends 'base.html' %} {% block title %}Welcome Back {% endblock %} {% block
content %}
<div id="loginBG">
  <h2 id="loginTitle">Welcome back</h2>
  <div class="d-flex justify-content-md-center">
    <div class="col-md-3">
      <form method="post">
        {{ form.hidden_tag() }} {% for field in form if field.widget.input_type
        != 'hidden' %}{{field.label(class_="formLabel")}}
        {{field(class_="form-control")}} {% for error in field.errors %}
        <span class="text-danger">{{ error }}</span>
        {% endfor %}{% endfor %}
        <div class="d-flex justify-content-center p-4">
          <button class="btn btn-primary btn-block">Log In</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
