{% extends 'base.html' %} {% block title %}PHQ-9{% endblock %} {% block content
%}
<body id="phq9BG">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-lg-12 p-2">
        <h1 id="notice">Patient Health Questionnaire (PHQ-9)</h1>
        <p id="notice">
          <span id="imp">NOTE:</span>
          Depression should not be diagnosed or exluded solely on the basis of a
          PHQ-9 score ≥ 10 has a sensitivity of 88% for major depression. Since
          the questionnaire relies on patient self-report, the practitioner
          should verify all response. A definitive diagnosis is made taking into
          account how well the patient understood the questionnaire, as well as
          other relevant information from the patient.
        </p>
      </div>
    </div>
  </div>
  <!-- Questionnaire starts here -->
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-lg-12 p-5">
        <div class="wrapper">
          <h3 id="titleHead">Questions</h3>
          <ol id="questionList">
            {% for questions in questions %}
            <li class="questions">{{questions.question}}</li>
            <select id="options" class="form-select form-select-lg mb-3">
              <option selected>Please select an option</option>
              <option class="option1" value="0">Not at all</option>
              <option class="option2" value="1">Several days</option>
              <option class="option3" value="2">More than half the days</option>
              <option class="option4" value="3">Nearly every day</option>
            </select>
            {% endfor %}
          </ol>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-lg-12">
        <p id="notice">
          PHQ-9 is adapted from <span id="imp">PRIME MD TODAY</span>, developed
          by Drs Spitzer, Williams, Kroenke, and colleagues, with an educational
          grant from Pfizer Inc. Use of the PHQ-9 may only be made in accordance
          with the Terms of Use available at
          <a href="https://www.pfizer.com">www.pfizer.com</a>. Copyright © 1999
          Pfizer Inc. All rights reserved.
          <span id="imp">PRIME MD TODAY</span> is a trademark of Pfizer Inc.
        </p>
        <p id="notice">
          <span id="imp">Reference:</span> Kroenke K, Spitzer RL, Williams JB.
          The PHQ-9: Validity of a brief depression severity measures. J Gen
          Intern Med. 2001;16(9):606-613.
        </p>
      </div>
    </div>
  </div>
  {% block scripts %}
  <script src="/static/app.js"></script>
  {% endblock %}
</body>
{% endblock %}
