{% extends 'base.html' %} {% block title %}Quick Jot{% endblock %} {% block
content %}
<div id="qjBG">
  <h1 id="qjTitle">Express Your Thoughts</h1>
  <div id="canvas" class="mx-auto">
    <textarea name="quickjot" id="quickjot" class="text-left"></textarea>
  </div>
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-md-auto m-2">
        <a class="btn btn-lg btn-success" href="register">Register</a>
        <a href="/" class="btn btn-lg btn-danger">Cancel</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
