{% extends 'base.html' %} {% block title %} New Journal {% endblock %} {% block
content %}
<body id="journalBG">
  

  <h1 id="journalHead">New Journal</h1>
  <div class="d-flex justify-content-center">
      <form id="journal" method="post">
        {{ form.hidden_tag() }}
        {% for field in form if field.widget.input_type != 'hidden' %}
        <div class="form-group">
          {{field.label}}
          {{field(class_="form-control")}}
          {% for err in field.errors %}
          {{err}}
          {% endfor %}
        </div>
        {% endfor %}
        <div class="d-flex justify-content-center p-4">
          <button class="btn btn-success btn-block">All Done</button>
        </div>
      </form>
    </div>
  </div>
</body>

{% endblock %}
